workspace_params = {
  default = {
    vm = {
      master_name_spec = "k8s-master-tf-default-%d"
      agent_name_spec = "k8s-agent-tf-default-%d"
      base_name_spec = "base-vm-tf-%d"
      n_masters      = 2
      n_agents       = 1
      start_ip       = "10.109.1.11/20"
      pool           = "infra-e10v9"
      cores          = 2
      memory         = 2048
      bridge         = "e10v9"
      nameserver     = "10.109.1.1"
      gateway        = "10.109.1.1"
      disk_size      = "5G"
      disk_storage   = "black-nfs-0"
      target_nodes   = ["arctic16", "arctic20"]
    },
    pve_api_url = "https://192.168.2.95:8006/api2/json"
  }
  production = {
    vm = {
      master_name_spec = "k8s-master-tf-prod-%d"
      agent_name_spec = "k8s-agent-tf-prod-%d"
      base_name_spec = "base-vm-tf-%d"
      n_masters      = 3
      n_agents       = 1
      start_ip       = "10.109.1.21/20"
      pool           = "infra-e10v9"
      cpu            = "host"
      cores          = 4
      memory         = 4096
      bridge         = "e10v9"
      nameserver     = "10.109.1.1"
      gateway        = "10.109.1.1"
      disk_size      = "8G"
      disk_storage   = "black-nfs-0"
      target_nodes   = ["arctic16", "arctic20", "blackgrid"]
    },
    pve_api_url = "https://192.168.2.95:8006/api2/json"
  }
}
workspace_default_params = {
  vm = {
    master_name_spec = "master-tf-unk-%d"
    agent_name_spec = "agent-tf-unk-%d"
    base_name_spec = "base-vm-tf-%d"
    n_masters      = 2
    n_agents       = 1
    start_ip       = "10.109.1.51/20"
    pool           = "infra-e10v9"
    cpu            = "kvm64"
    cores          = 2
    memory         = 4096
    bridge         = "e10v9"
    nameserver     = "10.109.1.1"
    gateway        = "10.109.1.1"
    disk_size      = "4G"
    disk_storage   = "black-nfs-0"
    target_nodes   = ["arctic16", "arctic20"]
  },
  pve_api_url = "https://192.168.2.95:8006/api2/json"
}

metal_lb_ip_range = "10.109.1.50-10.109.1.70"
apiserver_endpoint = "10.109.1.20"
system_timezone = "Your/Timezone"

